{% extends "AppBundle/layout.html.twig" %}

{% block title %}User Groups{% endblock %}

{% block body %}
    <ol>
        {% for group in groups %}
            <li><a href="{{ path('app_usergroup_show', {id: group.id}) }}">{{ group.name }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}
